.row {
  height: 50px;
  margin-left: 5%;
}

.container {
  margin-top: 10%;
}

.card {
  height: 70px;
}

#bootstrap-overwrite .card{
  background-color: #fff0;
  border-color: #fff0;
}

#actors {
  background-color: #fff;
  width: 20%;
  min-width: 200px;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
