.row {
  height: 50px;
  margin-left: 5%;
}

.card {
  height: 70px;
}

#bootstrap-overwrite .card{
  background-color: #fff0;
  border-color: #fff0;
}

#actors {
  background-color: #fff;
  width: 20%;
  min-width: 200px;
}

#title-row {
  margin-bottom: 20%;
  height: 8.5vw;
}

#title {
  font-size: 5vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: auto 80%;
  border-radius: 1vw;
}

#deductible-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: auto;
  border-radius: 0.2vw;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
