.row {
  height: 50px;
  margin-left: 5%;
}

.container {
  margin-top: 10%;
}

.card {
  height: 70px;
}

#bootstrap-card-overwrite {
  background-color: #fff0;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
